<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<body>
<table width="256" border="1">
  <tr>
    <td width="246"><a href="#">View staff attendance</a></td>
  </tr>
  <tr>
    <td><a href="#">View staff salary</a></td>
  </tr>
  <tr>
    <td><a href="managebranch">Add and manage branches</a></td>
  </tr>
  <tr>
    <td><a href="Viewcustomers">View Customers</a></td>
  </tr>
  <tr>
    <td><a href="viewcomplaints">View complaint and send reply</a><a href="#"></a> </td>
  </tr>
  <tr>
    <td><a href="viewfeedback">View feedback</a></td>
  </tr>
  <tr>
    <td height="25"><a href="viewcosmeticproduct">View cosmetics product and stock</a></td>
  </tr>
  <tr>
    <td><a href="viewproductrequest">View product request</a></td>
  </tr>
  <tr>
    <td><a href="#">View Generated reports </a></td>
  </tr>
  <tr>
    <td><a href="#">Logout</a></td>
  </tr>
</table>
</body>
</html>
