{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

{% extends 'Admin/adminhomeindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/addreply">
  <table width="286" border="1" class="table table-striped table-dark">
    <tr>
      <td>Reply</td>
      <td><label>
        <textarea name="textarea"></textarea>
      </label></td>
    </tr>
    <tr>
      <td height="23" colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Send" class="btn btn-warning" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>

{% endblock %}
</html>
