{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}

{% extends 'Admin/adminhomeindex.html' %}
{% block body %}
<body>

<form id="form1" name="form1" method="post" action="">
  <table class="table table-dark table-stripped">
      <tr align="center" class="table-danger">
       <td  colspan="11"><h2  style="color:black"> PRODUCT REQUEST</h2></td>
   </tr>
    <tr class="table-warning">
      <td colspan="5">Name
        <label>
        <input type="text" name="textfield" required pattern="[A-Z a-z .]{2,25}"  />
        <input type="submit" name="Submit" value="Search"  class="btn btn-outline-warning" />
      </label></td>
    </tr>
    <tr>
      <td>Username</td>
      <td>product name </td>
      <td>Quantity</td>
      <td>From Date </td>
      <td>To Date </td>
    </tr>
    <tr>
      <td></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
{#</html>#}
{% endblock %}