{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}

{% extends  'Admin/adminhomeindex.html' %}
{% block body %}
    <body>
<form id="form1" name="form1" method="post" action="/searchcategory">
  <table class="table table-dark table-stripped">
       <tr class="table-danger"> <td><center><a href="/admin_add_category" class="btn btn-secondary">ADD</a></center></td> </tr>
  <tr align="center" class="table-warning">
       <td  colspan="11"><h2  style="color:black">VIEW CATEGORY</h2></td>
   </tr>
    <tr class="table-info">
      <td colspan="4"><b>CATEGORY</b>
        <label>
        <input type="text" name="textfield" required  />
        <input type="submit" name="Submit" value="Search"  class="btn btn-outline-warning" />
      </label></td>
    </tr>

{#    <tr>#}
{#      <td>sino</td>#}
{#      <td>category</td>#}
{##}
{#      <td></td>#}
{#    </tr>#}
{#      {% for i in val %}#}
{#    <tr>#}
{# <td>{{ forloop.counter }}</td>#}
{#      <td>&nbsp;{{ i.categoryname }}</td>#}
{##}
{#      <td><a href="/deletecategory/{{ i.id }}"><i class="bi bi-trash3-fill"></i></a> </td>#}
{##}
{#    </tr>#}
{#      {% endfor %}#}


  </table>
    <table>

<tr>

{% for i in val %}
<td>
<div class="card">
    <div class="card-content">
{#   <img src="media/{{ i.Image }}" height="100px" width="100px">#}
  </div>

  <div class="card-title"> </div>
  <div class="card-content">
   <b>CATEGORY:</b>  {{ i.categoryname }}


  </div>
    <div class="card-content">
        <a href="/deletecategory/{{ i.id }}"> <i class="bi bi-trash3-fill"></i></a>


    </div>




{#    <div class="card-content">#}
{#     {{ i.Time }}#}
{##}
{#  </div>#}
</div>
</td>

    {% if forloop.counter|divisibleby:3 == 0 %}
        {% else %}

    </tr><tr>
    {% endif %}
{% endfor %}
</tr>
  </table>
</form>
</body>
{#</html>#}
{% endblock %}