{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}

{% extends 'Admin/adminhomeindex.html' %}
{% block body %}
    <body>
<form id="form1" name="form1" method="post" action="viewstaffsalarysearch">
  <table class="table table-striped table-dark">
  <tr align="center" class="table-danger">
       <td  colspan="11"><h2  style="color:black"> SALARY</h2></td>
   </tr><tr class="table-info">
       <td colspan="2">

      <td colspan="2">
         <label for="branch_select">Select Branch:</label>
                <select id="branch_select" name="branch" required>
                    {% for i in val %}
                    <option value="{{ i.id }}">{{ i.Name }}</option>
                    {% endfor %}

                    <!-- Add options for other branch names as needed -->
                </select>

{#      <input type="date" name="textfield2" required />#}
      <input type="submit" name="Submit" value="Search" class="btn btn-outline-warning"/>
    </td>
    </tr>
{#    <tr>#}
{#      <td>Staff</td>#}
{#      <td>Salary</td>#}
{#    </tr>#}
{#      {% for i in val %}#}
{#    <tr>#}
{#      <td>&nbsp;{{ i.Fname }}</td>#}
{#      <td>&nbsp;{{ i.Basicpay }}</td>#}
{#    </tr>#}
{#      {% endfor %}#}
  </table>

    <table>

<tr>

{% for i in next %}
<td>
<div class="card">
    <div class="card-content">
{#   <img src="media/{{ i.Image }}" height="100px" width="100px">#}
  </div>

  <div class="card-title"><b>{{ i.Fname  }}</b> </div>
  <div class="card-content">
   <b>BASIC PAY:</b>  {{ i.Basicpay }}

  </div>
{#    <div class="card-content">#}
{#    <b>POST:</b> {{ i.post }}#}
{#    </div>#}
{#         <div class="card-content">#}
{#    <b>PIN:</b> {{ i.Pin }}#}
{#         </div>#}
{#              <div class="card-content">#}
{#    <b>PHONE:</b> {{ i.Phone }}#}
{#              </div>#}
{##}
{#      <div class="card-content">#}
{#   <b>EMAIL:</b>  {{ i.Email }}#}
{#              </div>#}

{# <div class="card-content">#}
{#        <a href="/editbranch/{{ i.id }}"><i class="bi bi-pencil-square"></i> </a>  &nbsp;&nbsp;&nbsp;&nbsp; <a href="/deletebranch/{{ i.LOGIN.id }}"> <i class="bi bi-trash3-fill"></i></a>#}
{##}
{##}
{#    </div>#}


  </div>





{#    <div class="card-content">#}
{#     {{ i.Time }}#}
{##}
{#  </div>#}
</div>
</td>

    {% if forloop.counter|divisibleby:2 == 0 %}
        {% else %}

    </tr><tr>
    {% endif %}
{% endfor %}
</tr>
  </table>
</form>
    </body>
{% endblock %}

{#</html>#}
