{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}

{% extends 'Admin/adminhomeindex.html' %}
{% block body %}
    <body>
<form id="form1" name="form1" method="post" action="searchcustomer">
  <table class="table table-dark table-stripped">
  <tr align="center" class="table-warning">
       <td  colspan="11"><h2  style="color:black"> CUSTOMERS</h2></td>
   </tr>
    <tr class="table-danger">
      <td colspan="6">
           <td colspan="6">
         <label for="branch_select">Select Branch:</label>
                <select id="branch_select" name="branch" required>
                    {% for i in branch %}
                    <option value="{{ i.id }}">{{ i.Name }}</option>
                    {% endfor %}

                    <!-- Add options for other branch names as needed -->
                </select>
{#        <label>#}
{#        <input type="text" name="textfield"  required pattern="[A-Z a-z .]{2,25}"  />#}
        <input type="submit" name="Submit" value="Search" class="btn btn-outline-warning" />
      </td>
    </tr>
{#    <tr>#}
{#      <td>Slno</td>#}
{#      <td>Name</td>#}
{#      <td>Gender</td>#}
{#      <td>Address</td>#}
{#      <td>Phone</td>#}
{#      <td>Email</td>#}
{#    </tr>#}
{#      {% for i in val %}#}
{#    <tr>#}
{#      <td>&nbsp;{{ i.Fname }}</td>#}
{#      <td>{{ i.Lname }}</td>#}
{#      <td>{{ i.Gender }}</td>#}
{#      <td>&nbsp;{{ i.Place }}</td>#}
{#      <td>{{ i.Post }}</td>#}
{#      <td>&nbsp;{{ i.Pin }}</td>#}
{#    </tr>#}
{#      {% endfor %}#}
  </table>

    <table>

<tr>

{% for i in val %}
<td>
<div class="card">
    <div class="card-content">
{#   <img src="media/{{ i.Image }}" height="100px" width="100px">#}
  </div>

  <div class="card-title"> </div>
  <div class="card-content">
     <b>NAME :</b>{{ i.CUSTOMERID.Fname  }}

  </div>
    <div class="card-content">
        <b>GENDER :</b> {{ i.CUSTOMERID.Gender }}</div>
             <div class="card-content">
    <b>PLACE :</b>  {{ i.CUSTOMERID.Place }}
<div class="card-content">
    <b>POST :</b>  {{ i.CUSTOMERID.Post }}
  </div>
                 <div class="card-content">
    <b>PIN :</b>  {{ i.CUSTOMERID.Pin }}
  </div>
 <div class="card-content">
    <b>EMAIL:</b>{{ i.CUSTOMERID.Email }}
  </div>
{#    <div class="card-content">#}
{#        <a href="/editfacility/{{ i.id }}"><i class="bi bi-pencil-square"></i> </a>  &nbsp;&nbsp;&nbsp;&nbsp; <a href="/deletetfacility/{{ i.id }}"> <i class="bi bi-trash3-fill"></i></a>#}
{##}
{##}
{#    </div>#}




{#    <div class="card-content">#}
{#     {{ i.Time }}#}
{##}
{#  </div>#}
</div>
</td>

    {% if forloop.counter|divisibleby:4 == 0 %}
        {% else %}

    </tr><tr>
    {% endif %}
{% endfor %}
</tr>
  </table>

</form>
</body>
{#</html>#}
{% endblock %}
