{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'Admin/adminhomeindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="cosmeticsearch">
  <table class="table table-dark table-stripped">
      <tr align="center" class="table-danger">
       <td  colspan="11"><h2  style="color:black">VIEW COSMETICS</h2></td>
   </tr>
    <tr class="table-warning">
      <td colspan="5">Branch
        <label>
        <input type="text" name="textfield" required pattern="[A-Z a-z .]{2,25}"  />
        <input type="submit" name="Submit" value="Search"  class="btn btn-outline-warning" />
      </label></td>
    </tr>
{#    <tr>#}
{#      <td>Product</td>#}
{#      <td>Photo</td>#}
{#      <td>Details</td>#}
{#      <td>Uses</td>#}
{#      <td>Company</td>#}
{#    </tr>#}
{#      {% for i in val %}#}
{#    <tr>#}
{#      <td>{{ i.Product }}</td>#}
{#      <td>{{ i.Details }}</td>#}
{#      <td><img src="media/{{ i.Photo }}" height="100px" width="100px"></td>#}
{#      <td>&nbsp;{{ i.Uses }}</td>#}
{#      <td>{{ i.Company }}&nbsp;</td>#}
{#    </tr>#}
{#      {% endfor %}#}
  </table>
    <table>

<tr>

{% for i in val %}
<td>
<div class="card">
    <div class="card-content">
   <img src="media/{{ i.Photo }}" height="100px" width="100px">
  </div>

  <div class="card-title">{{ i.Product  }}</div>
  <div class="card-content">
      <div  class="ex1"><b>DETAILS :</b>{{ i.Details }}</div>

  </div>

             <div class="card-content">
    <b>Uses:</b>  {{ i.Uses }}

  </div>

             <div class="card-content">
    <b>Company:</b>  {{ i.Company }}

  </div>
{#    <div class="card-content">#}
{#        <a href="/editfacility/{{ i.id }}"><i class="bi bi-pencil-square"></i> </a>  &nbsp;&nbsp;&nbsp;&nbsp <a href="/deletetfacility/{{ i.id }}"> <i class="bi bi-trash3-fill"></i></a>#}
{##}
{##}
{#    </div>#}




{#    <div class="card-content">#}
{#     {{ i.Time }}#}
{##}
{#  </div>#}
</div>
</td>

    {% if forloop.counter|divisibleby:4 == 0 %}
        {% else %}

    </tr><tr>
    {% endif %}
{% endfor %}
</tr>
  </table>
</form>
</body>
{#</html>#}
{% endblock %}
