{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

<body>
{% extends 'Branch/branchindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/assign_post">
  <table class="table table-striped table-dark">
  <tr align="center" class="table-danger">
       <td  colspan="11"><h2  style="color:black">WORKS</h2></td>
   </tr>
    <tr>
      <td>Staff</td>
      <td><label>
        <select name="select">
            {% for i in val %}
            <option value="{{ i.id }}">{{ i.Fname }}</option>
            {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <td colspan="2">
        <div align="center">
          <input type="submit" name="Submit" value="Assign" class="btn btn-outline-warning" />
          </div>
      </td>
    </tr>
  </table>
</form>
</body>
{#</html>#}
{% endblock %}
