<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="245" border="1">
    <tr>
      <td width="235"><a href="viewapprovebooking">View and Approve booking</a></td>
    </tr>
    <tr>
      <td><a href="addcosmetics">Add and manage cosmetics products</a></td>
    </tr>
    <tr>
      <td><a href="addoffer">Add and manage offers</a></td>
    </tr>
    <tr>
      <td><a href="addrental">Add and manage rental products</a></td>
    </tr>
    <tr>
      <td><a href="addinventory">Add and manage inventory</a></td>
    </tr>
    <tr>
      <td><a href="managestaffattendance">Manage staff attendance</a></td>
    </tr>
    <tr>
      <td><a href="assignworkstaff">Assign work to staff</a></td>
    </tr>

    <tr>
      <td><a href="updatestock">Update stock</a></td>
    </tr>
    <tr>
      <td><a href="viewleavedetails">View staff leave details</a></td>
    </tr>
    <tr>
      <td height="41"><a href="sendfeedback">Send feedback</a></td>
    </tr>
  </table>
</form>
</body>
</html>
