{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

<body>
{% extends 'Branch/branchindex.html' %}
{% block body %}
<form action="/editfacility_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-striped table-dark" >
      <tr align="center">
       <td  colspan="11"><h2  style="color:yellow">EDIT FACILITY</h2></td>
   </tr>
    <tr>
      <td>Facility</td>
      <td><label>
        <input type="text" name="textfield" value="{{ data.Facility }}" autocomplete="off" required pattern="[A-Z a-z .]{2,25}" />
      </label></td>
    </tr>
    <tr>
      <td>Image</td>
      <td><label>
          <img src="{{ data.Image.url }}" width="100px" height="100px"  >
        <input type="file" name="file" value="" />
      </label></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><label>
        <input type="text" name="textfield2" value="{{ data.Price }}" autocomplete="off" required/>
      </label></td>
    </tr>
    <tr>
      <td>Details</td>
      <td><label>
        <textarea name="textarea">{{ data.Details }}</textarea>
      </label></td>
    </tr>
    <tr>
      <td colspan="2">
        <div align="center">
          <input type="submit" name="Submit" value="update"  class="btn btn-outline-warning"/>
          </div>
      </td>
    </tr>
  </table>
</form>
</body>
{#</html>#}
{% endblock %}
