{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}


<body>
{% extends 'Branch/branchindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped table-dark">
    <tr>
      <td width="244">Name </td>
      <td width="153"><label>
        <input type="text" name="textfield" required pattern="[A-Z a-z .]{2,25}"  />
      </label></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><label>
        <input type="text" name="textfield2" required pattern="[A-Z a-z .]{2,25}"  />
      </label></td>
    </tr>
    <tr>
      <td>Contact</td>
      <td><label>
        <input type="text" name="textfield3" required pattern="[A-Z a-z .]{2,25}"  />
      </label></td>
    </tr>
    <tr>
      <td height="117" colspan="2"><table class="table table-striped table-dark">
        <tr>
          <td>slno</td>
          <td>Facility</td>
          <td>Details</td>
          <td>price</td>
          <td>Time</td>
        </tr>
        <tr>
          <td height="35">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td height="31" colspan="5">&nbsp;</td>
          </tr>
      </table></td>
    </tr>
    <tr>
      <td height="62" colspan="2">Total Amount : </td>
    </tr>
  </table>
</form>
</body>
{#</html>#}
{% endblock %}