{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

<body>
{% extends 'Branch/branchindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped table-dark">
      <tr align="center" class="table-danger">
       <td  colspan="11"><h2  style="color:black">SALARY CALCULATION</h2></td>
   </tr>
    <tr class="table-info">
      <td colspan="2">Year
        <label>
<select name="select">
</select>      
Month
<select name="select2">
</select>
        <input type="submit" name="Submit" value="View" class="btn btn-outline-warning"/>
      </label></td>
    </tr>
    <tr>
      <td width="75">Staff Name </td>
      <td width="408">Attendance</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
{#</html>#}
{% endblock %}
